* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --base-gray-300: hsl(224, 12%, 18%);
    --base-gray-500: hsl(223, 13%, 78%);
    --base-gray-600: hsl(223, 14%, 90%);
}

body {
    font-size: 1.6rem;
    text-align: center;
}

.wrapper {
    width: 112.6rem;

    margin: 0 auto;
}

.image-wrapper {
    display: inline-block;
    justify-content: center;

    position: relative;
}

header {
    padding-top: 12rem;
}

header > div img:nth-child(2) {
    width: 3.2rem;
    height: 3.2rem;

    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 100;
}

.text-wrapper {
    margin-top: 5.6rem;
}

.text-wrapper h1 {
    margin-top: .8rem;
}

.text-wrapper p:last-child {
    width: 68rem;

    margin: 2rem auto 0;
}

.techs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    list-style: none;

    margin-top: 8rem;
}

.techs ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    /* background: var(--base-gray-300); */
    border: 1px solid purple;

    padding: .8rem 1.6rem;
    border-radius: 99rem;

    color: var(--base-gray-500);
}

header > img {
    margin-top: 9.4rem;
}

main.wrapper {
    margin-block: 6rem;
}

section {
    padding-block: 10rem;
}

section h4 {
    margin-top: .8rem;
}

section > div {
    margin-top: 5.6rem;
}

#contact > p {
    margin-top: .8rem;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(3, 33rem);
    justify-content: center;
    gap: 2.4rem;
}

.job {
    /* background: var(--base-gray-300); */
    border: 1px solid purple;

    padding: 1.2rem;
    border-radius: 1.2rem;
}

.job img {
    width: 100%;

    border-radius: .8rem;
}

.job h5,
.job p {
    text-align: start;
}

.job h5 {
    margin-top: 2.4rem;

    color: var(--base-gray-600);
}

.job p {
    margin-top: .8rem;

    color: var(--base-gray-500);
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 28rem);
    justify-content: center;
    gap: 2.4rem;
}

.service {
    padding: 2rem;
    border: 1px solid purple;
    border-radius: 1.2rem;
}

.service h5,
.service p {
    text-align: start;
}

.service h5 {
    margin-top: 2rem;
}

.service p {
    margin-top: .8rem;
}

.social ul li {
    list-style: none;
}

.social ul li + li {
    margin-top: 1.6rem;
}

.social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    
    width: 40rem;

    border: 1px solid purple;
    border-radius: .8rem;
    padding: 1.2rem;
    margin: 0 auto;

    text-decoration: none;
}

.social ul a p {
    width: 28rem;
    text-align: start;
}

